mixin footer-new()
  footer.footer
    .container
      .footer__column
        .footer__slogan 127+ клиентов
          span доверились нашей команде.
        .footer__briff
          p Заполни бриф и давай работать вместе
          a.briff-btn(href="") 
            span Заполните бриф
      .footer__column
        .footer__column
          h4.footer__title Услуги
          ul.footer__links
            li
              a(href="") Разработка сайтов
            li
              a(href="") Удаленный отдел маркетинга
            li
              a(href="") Мобильные приложения
            li
              a(href="") Продакшн
          ul.footer__links
            li
              a(href="") Разработка IT-проектов
            li
              a(href="") Автоматизация
            li
              a(href="") Обучение (Target 2.0)
            li
              a(href="") Travel
        .footer__column
          h4.footer__title Подробнее
          ul.footer__links
            li
              a(href="") Клиенты
            li
              a(href="") Кейсы
            li
              a(href="") Партнеры
      .footer__column
        h4.footer__title Связь с нами
        .footer__social.social
          a.social__links.social__tg(href="") 
            span Telegram
          a.social__links.social__wa(href="") 
            span WhatsApp
          a.social__links.social__fb(href="") 
            span Messenger
  .footer__panel
    .container
      a(href="").footer__logo
        | ONE 
        span CREW
        p.footer__copyright © Все права защищены, 2019 г.
      .socials
        a.socials__links(href="")
          svg.social__icon
            use(xlink:href="img/sprite.svg#facebook")
        a.socials__links(href="")
          svg.social__icon
            use(xlink:href="img/sprite.svg#vk")
        a.socials__links(href="")
          svg.social__icon
            use(xlink:href="img/sprite.svg#instagram2")
        a.socials__links(href="")
          svg.social__icon
            use(xlink:href="img/sprite.svg#basketball")
        a.socials__links(href="")
          svg.social__icon
            use(xlink:href="img/sprite.svg#behance")
        a.socials__links(href="")
          svg.social__icon
            use(xlink:href="img/sprite.svg#youtube")
      p.footer__create Created by OneCrew.