mixin works()
  section.works#case
    .container
      .works__wrap.swiper-container
        .works__prev
        .swiper-wrapper
          a(href="").works__item.swiper-slide
            img.works__back(src="img/work1.jpg", alt="")
            .works__logo
              img.works__logo-pic(src="img/topgun.png", alt="")
            span.works__descr Международная сеть барбершопов
          a(href="").works__item.swiper-slide
            img.works__back(src="img/work2.jpg", alt="")
            .works__logo
              img.works__logo-pic(src="img/wonder_logo.png", alt="")
            span.works__descr Сеть студий маникюра
          a(href="").works__item.swiper-slide
            img.works__back(src="img/work3.jpg", alt="")
            .works__logo
              img.works__logo-pic(src="img/topstretching.png", alt="")
            span.works__descr Сеть студий растяжки и йоги
          a(href="").works__item.swiper-slide
            img.works__back(src="img/work4.jpg", alt="")
            .works__logo
              img.works__logo-pic(src="img/makler.png", alt="")
            span.works__descr Группа компаний
          a(href="").works__item.swiper-slide
            img.works__back(src="img/work5.jpg", alt="")
            .works__logo
              img.works__logo-pic(src="img/trikke.png", alt="")
            span.works__descr Американский производитель иновационных самокатов
          a(href="").works__item.swiper-slide
            img.works__back(src="img/work6.jpg", alt="")
            .works__logo
              img.works__logo-pic(src="img/producer.png", alt="")
            span.works__descr IT-стартап по продвижению в социальных сетях
          a(href="").works__item.swiper-slide
            img.works__back(src="img/work7.jpg", alt="")
            .works__logo
              img.works__logo-pic(src="img/champ.png", alt="")
            span.works__descr Сеть детских спортивных школ
          a(href="").works__item.swiper-slide
            img.works__back(src="img/work8.jpg", alt="")
            .works__logo
              img.works__logo-pic(src="img/Practicum.png", alt="")
            span.works__descr Консалтинговая компания Евгения Котова
          a(href="").works__item.swiper-slide
            img.works__back(src="img/work9.jpg", alt="")
            .works__logo
              img.works__logo-pic(src="img/als_logo_color.png", alt="")
            span.works__descr Юридическая компания
          a(href="").works__item.swiper-slide
            img.works__back(src="img/work10.jpg", alt="")
            .works__logo
              img.works__logo-pic(src="img/orangefit.png", alt="")
            span.works__descr Сеть фитнес клубов
        .works__next