//- Подключение примесей

include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/works/works.pug
include ../blocks/reviews/reviews.pug
include ../blocks/included/included.pug
include ../blocks/comands/comands.pug
include ../blocks/faq/faq.pug
include ../blocks/contact-form/contact-form.pug
