mixin footer()
  footer.footer
    .container
      .footer__links
        .footer__services
          h3.footer__title Услуги
          ul.footer__menu
            li
              a(href="") Антикризисный маркетинг
            li
              a(href="") Удаленный отдел маркетинга
            li
              a(href="") Разработка IT-проектов
            li
              a(href="") Создание сайтов
        .footer__navigation
          h3.footer__title Навигация
          ul.footer__menu
            li
              a(href="") Кейсы
            li
              a(href="") Маркетинг
            li
              a(href="") Реклама в соц.сетях
            li
              a(href="") Контекстная реклама
          ul.footer__menu
            li
              a(href="") Партнерский-маркетинг
            li
              a(href="") Сквозная аналитика
            li
              a(href="") Блогеры
            li
              a(href="") WEB-разработка
          ul.footer__menu
            li
              a(href="") Дизайн
            li
              a(href="") О нас
            li
              a(href="") FAQ
            li
              a(href="") Оставить заявку
      .footer__contacts
        span Связь с нами
        .social__links
          a.social__link(href="") WhatsApp
          a.social__link(href="") Telegram
          a.social__link(href="") Messenger
    .footer__panel
      .container
        a.footer__logo(href="")
          img(src="img/logo-footer.png", alt="")
        .footer__column
          ul.lang.footer__lang
            li.active
              a(href="") ru
            li
              a(href="") en
          a.footer__politics(href="") Политика конфиденциальности
          a.footer__phone(href="tel:89778177223") 8 977 817-72-23