extends ../pug/layout-home.pug

block meta
  title Главная
  meta(name="description", content="")

block header
  +head()

block content
  +main-section()
  +making()
  +histoty-company()
  +dreamteam()
block footer
  +footer()
