extends ../pug/layout-home.pug

block meta
  title Главная2
  meta(name="description", content="")

block header
  +header()
  +works()
  +reviews()
block content
  +included()
  +comands()
  +faq()
  +contact-form()
block footer
  +footer()
