mixin included()
  section.included
    .container
      h2.included__title Что входит в Запуск 
        span онлайн-школы
      p.included__subtitle Ваша задача снимать курсы,  а мы уже будем их продавать
      .included__list
        .included__item
          h3.included__titles Маркетинг
          p.included__text Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 
        .included__item
          h3.included__titles Реклама в соц.сетях
          p.included__text Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 
        .included__item
          h3.included__titles Контекстная реклама
          p.included__text Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 
        .included__item
          h3.included__titles Партнерский-маркетинг
          p.included__text Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 
        .included__item
          h3.included__titles Сквозная аналитика
          p.included__text Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 
        .included__item
          h3.included__titles Блогеры
          p.included__text Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 
        .included__item
          h3.included__titles WEB-разработка
          p.included__text Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 
        .included__item
          h3.included__titles Дизайн
          p.included__text Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 