mixin comands()
  section.comands#comand
    .container
      .comands__text
        img.comands__logo(src="img/logo2.png", alt="")
        .comands__content
          h2 У каждой компании есть крутая история и нам нужно написать такую же
          p Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text
      .comands__wrap.swiper-container
        .comands__prev
        .swiper-wrapper
          .swiper-slide.comands__item
            img(src="img/comand1.jpg", alt="")
            span.comands__post Менеджер1
          .swiper-slide.comands__item
            img(src="img/comand1.jpg", alt="")
            span.comands__post Маркетолог2
          .swiper-slide.comands__item
            img(src="img/comand1.jpg", alt="")
            span.comands__post Менеджер3
          .swiper-slide.comands__item
            img(src="img/comand1.jpg", alt="")
            span.comands__post Маркетолог4
          .swiper-slide.comands__item
            img(src="img/comand1.jpg", alt="")
            span.comands__post Менеджер5
          .swiper-slide.comands__item
            img(src="img/comand1.jpg", alt="")
            span.comands__post Маркетолог6
          .swiper-slide.comands__item
            img(src="img/comand1.jpg", alt="")
            span.comands__post Менеджер7
          .swiper-slide.comands__item
            img(src="img/comand1.jpg", alt="")
            span.comands__post Маркетолог8
          .swiper-slide.comands__item.comands__empty
        .comands__next
      .options
        .option(style='--optionBackground:url(../img/comand1.jpg)')
        .option(style='--optionBackground:url(../img/comand1.jpg)')
        .option(style='--optionBackground:url(../img/comand1.jpg)')
        .option(style='--optionBackground:url(../img/comand1.jpg)')
        .option(style='--optionBackground:url(../img/comand1.jpg)')