// В этом файле должны быть стили для БЭМ-блока comands, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.comands {

  $block-name:                &; // #{$block-name}__element
  background-color: #fafafa;
  padding: 72px 0;
  display: flex;
}

.comands__text {
  width: 100%;
  @include flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.comands__logo {
  object-fit: contain;
  margin: 15px auto;
  @media (min-width: $screen-lg) {
    margin: 0 40px 0 auto;
  }
  @media (min-width: $screen-xl) {
    margin: 0 90px 0 auto;
  }
}

.comands__content {

  width: 100%;
  margin-left: 0;
 
  box-sizing: border-box;

  @media (min-width: $screen-lg) {
    border-left: 1px solid #c0c0c0;
    width: 50%;
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h2 {
    width: 100%;
    margin: 0 0 20px;

    color: #000;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    @media (min-width: $screen-md) {
      font-size: 28px;
      line-height: 32px;
    }
  }
  p {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    color: #000;
    font-family: $r;
    margin: 0;
    @media (min-width: $screen-md) {
      font-size: 16px;
    }
  }
}


.comands__wrap {
  width: 100%;
  @include flex;
  margin-top: 30px;
  overflow: hidden;
  @media (min-width: $screen-xl) {
    margin-top: 60px;
    margin-left: 100px;
  }
}

.comands__item {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  transition: 1.5s;
  position: relative;
  cursor: pointer;
  text-align: center;
  @media (min-width: $screen-xl) {
    text-align: left;
    width: 266px;
    margin-right: -133px;
    &:hover {
      // margin-right: 0;
      z-index: 2;
      .comands__post {
        width: 100%;
      }
    }
  }

  img {
    width: 266px;
    height: 377px;
    display: inline-block;
    object-fit: contain;
  }


}

.comands__empty {
  background-color: #fafafa;
}

.comands__post {
  width: 100%;
  display: inline-block;
  color: #000000;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  transition: 0.5s;
  background-color: #fafafa;
  @media (min-width: $screen-xl) {
    width: 50%;
    font-weight: 100;
  }
}


$optionDefaultColours: #ED5565,#FC6E51,#FFCE54,#2ECC71,#5D9CEC,#AC92EC;



   .options {
      display:flex;
      flex-direction:row;
      align-items:stretch;
      overflow:hidden;

      min-width:600px;
      max-width:900px;
      width:calc(100% - 100px);
      
      height:400px;
      
      @for $i from 1 through 4 {
         @media screen and (max-width:798px - $i*80) {
            min-width:600px - $i*80;
            .option:nth-child(#{6-$i}) {
               display:none;
            }
         }
      }
      
      .option {
         position: relative;
         overflow:hidden;

         min-width:133px;
         background:var(--optionBackground, var(--defaultBackground, #E6E9ED));
         background-size:auto 120%;
         background-position:center;

         cursor: pointer;

         transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

         @for $i from 1 through length($optionDefaultColours) {
            &:nth-child(#{$i}) {
               --defaultBackground:#{nth($optionDefaultColours, $i)};
            }
         }
         &.active {
            flex-grow:10000;
            transform:scale(1);
            
            max-width:266px; //** width
            margin:0px;
            
            background-size:auto 100%;
      
            /*&:active {
               transform:scale(0.9);
            }*/
         }
         &:not(.active) {
            // flex-grow:1;
         }

  
      }
   }
