mixin main-section()
  section.main-section
    h1.main-section__title Mаркетинг, IT, Продакшн, Автоматизация
    h2.main-section__sub Для малого и крупного бизнеса
    +works-slider()
    .main-section__panel
      .container
        p.main-section__info 127 клиентов с 2016 года
        .swiper-pagination