// В этом файле должны быть стили для БЭМ-блока making, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.making {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  background-color: #fff;
  @media (min-width: $screen-xs) {
    padding: 50px 0;
  }
  @media (min-width: $screen-md) {
    padding: 100px 0;
  }
}


.making__item {
  border-radius: 5px;
  background-color: #f3f5f6;
  @include flex;
  align-content: space-between;
 
  box-sizing: border-box;
  width: 100%;
  padding: 26px 31px 26px;
  margin-top: 20px;

  @media (min-width: $screen-md) {
    width: calc(50% - 10px);
    margin-right: 20px;  
    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
  @media (min-width: $screen-lg) {
    width: calc((100%/4) - 15px);
    padding: 52px 31px 26px;
    &:nth-of-type(2n) {
      margin-right: 20px;
    }
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}

.making__thumb {
  width: 100%;
  display: inline-block;
  text-align-last: left;
}

.making__pic {
  max-width: 71px;
  max-height: 70px;
}

.making__title {
  width: 100%;
  display: inline-block;
  margin: 10px 0 18px;
  text-align: left;
  color: #111111;
  font-family: $mb;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.5px;

}

.making__descr {
  width: 100%;
  display: inline-block;
  margin: 0;
  text-align: left;
  opacity: 0.56;
  color: #111111;
  font-family: $mb;
 
  line-height: 18px;
  letter-spacing: -0.12px;
  @media (min-width: $screen-lg) {
    font-size: 11px;
  }
  @media (min-width: $screen-xxl) {
    font-size: 12px;
  }
}


.making__content {
  width: 100%;
  display: inline-block;
}