mixin making()
  section.making
    .container
      .making__item
        img.making__pic(src="img/making1.svg", alt="")
        .making__content
          h3.making__title Разработка сайтов
          p.making__descr Lorem ipsum dolor sit amet, consectetur adipisicinglaudantium
      .making__item
        img.making__pic(src="img/making2.svg", alt="")
        .making__content
          h3.making__title Удаленный отдел маркетинга
          p.making__descr Lorem ipsum dolor sit amet, consectetur adipisicinglaudantium
      .making__item
        img.making__pic(src="img/making3.svg", alt="")
        .making__content
          h3.making__title Мобильные приложения
          p.making__descr Lorem ipsum dolor sit amet, consectetur adipisicinglaudantium
      .making__item
        img.making__pic(src="img/making4.svg", alt="")
        .making__content
          h3.making__title Продакшн
          p.making__descr Lorem ipsum dolor sit amet, consectetur adipisicinglaudantium
      .making__item
        img.making__pic(src="img/making5.svg", alt="")
        .making__content
          h3.making__title Разработка IT-проектов
          p.making__descr Lorem ipsum dolor sit amet, consectetur adipisicinglaudantium
      .making__item
        img.making__pic(src="img/making6.svg", alt="")
        .making__content
          h3.making__title Автоматизация
          p.making__descr Lorem ipsum dolor sit amet, consectetur adipisicinglaudantium
      .making__item
        img.making__pic(src="img/making7.svg", alt="")
        .making__content
          h3.making__title Обучение Target 2.0
          p.making__descr Lorem ipsum dolor sit amet, consectetur adipisicinglaudantium
      .making__item
        img.making__pic(src="img/making8.svg", alt="")
        .making__content
          h3.making__title Travel
          p.making__descr Lorem ipsum dolor sit amet, consectetur adipisicinglaudantium