mixin dreamteam()
  section.dreamteam
    .container
      .dreamteam__wrap
        .dreamteam__item
          span.dreamteam__post Дизайнер
          span.dreamteam__name Андрей Чабан
          img(src="img/dreamteam1.jpg", alt="")
        .dreamteam__item.dreamteam__iteam--small
          span.dreamteam__post Разработчик
          span.dreamteam__name Руслан
            br
            | Прокопишен
          img(src="img/dreamteam2.jpg", alt="")
        .dreamteam__item
          span.dreamteam__post Копирайтер
          span.dreamteam__name Юрий Скрипник
          img(src="img/dreamteam3.jpg", alt="")
        .dreamteam__item.dreamteam__iteam--small
          span.dreamteam__post Копирайтер
          span.dreamteam__name Марина 
            br
            | Буга
          img(src="img/dreamteam4.jpg", alt="")
        .dreamteam__item.dreamteam__iteam--small
          span.dreamteam__post директолог
          span.dreamteam__name Мария 
            br
            | Дубак
          img(src="img/dreamteam5.jpg", alt="")
        .dreamteam__item
          span.dreamteam__post Таргетолог
          span.dreamteam__name Юлия Продан
          img(src="img/dreamteam6.jpg", alt="")
        .dreamteam__item.dreamteam__iteam--small
          span.dreamteam__post Маркетолог
          span.dreamteam__name Анастасия Петренко
          img(src="img/dreamteam7.jpg", alt="")
        .dreamteam__item
          span.dreamteam__post илюстратор
          span.dreamteam__name Анастасия Петренко
          img(src="img/dreamteam8.jpg", alt="")