@font-face {
    font-family: 'PFDinDisplayPro';
    font-display: swap;
    src: url('../fonts/PFDinDisplayPro-Black.woff2') format('woff2');
    font-weight: 900;
}
@font-face {
    font-family: 'PFDinDisplayPro';
    font-display: swap;
    src: url('../fonts/PFDinDisplayPro-Medium.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'PFDinDisplayPro';
    font-display: swap;
    src: url('../fonts/PFDinDisplayPro-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'PFDinDisplayPro';
    font-display: swap;
    src: url('../fonts/PFDinDisplayPro-Thin.woff2') format('woff2');
    font-weight: 100;
}
@font-face {
    font-family: 'OpenSansBold';
    font-display: swap;
    src: url('../fonts/OpenSansBold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'OpenSansRegular';
    font-display: swap;
    src: url('../fonts/OpenSansRegular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'MontserratBold';
    font-display: swap;
    src: url('../fonts/MontserratBold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'MontserratSemiBold';
    font-display: swap;
    src: url('../fonts/MontserratSemiBold.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'MontserratRegular';
    font-display: swap;
    src: url('../fonts/MontserratRegular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat-Light';
    font-display: swap;
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: 100;
}
