// Это диспетчер подключений, тут не должно быть ничего, кроме импортов

// Глобальные подключения
@import "grid.scss";
@import "rfs.scss";
@import "variables.scss";
@import "elements.scss";
@import "fonts.scss";

// БЭМ-блоки. Один БЭМ-блок = 1 файл. ВСЕГДА.
@import "./src/blocks/page/page.scss";
@import "./src/blocks/header/header.scss";
@import "./src/blocks/footer/footer.scss";
@import "./src/blocks/works/works.scss";
@import "./src/blocks/reviews/reviews.scss";
@import "./src/blocks/included/included.scss";
@import "./src/blocks/comands/comands.scss";
@import "./src/blocks/faq/faq.scss";
@import "./src/blocks/contact-form/contact-form.scss";
@import "./src/blocks/head/head.scss";
@import "./src/blocks/main-section/main-section.scss";
@import "./src/blocks/works-slider/works-slider.scss";
@import "./src/blocks/making/making.scss";
@import "./src/blocks/histoty-company/histoty-company.scss";
@import "./src/blocks/dreamteam/dreamteam.scss";
