// В этом файле должны быть стили для БЭМ-блока works-slider, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.works-slider {

  $block-name:                &; // #{$block-name}__element
  width: 90%;
  margin: 125px auto 0;
  @include flex;
  @media (min-width: $screen-xs) {
    margin: 45px auto 0;
  }
  @media (min-width: $screen-md) {
    margin: 125px auto 0;
  }
}

.works-slider__item {
  &:hover {
    .works__back {
      transform: scale(1.07);
    }
    .works__logo {
      transform: scale(0.8);
    }
    .works__descr  {
      transform: scale(1.04);
    }
  }
}




.main-section__panel {
  width: 100%;
  @include flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 2px solid #ebecef;
  padding: 100px 0 38px;
  box-sizing: border-box;
  margin-top: -70px;
  .container {
    justify-content: space-between;
    @media (min-width: $screen-lg) {
      padding: 0 30px;
    }
  }
  .swiper-pagination {
    position: relative;
    @media (min-width: $screen-xs) {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
    @media (min-width: $screen-md) {
      width: auto;
      text-align: right;
      margin-top: 0;
    }
  }
  
  .swiper-pagination-bullet {
    background: transparent;
    margin: 0 15px;
    outline: none;
    opacity: 1;
  }
  .swiper-pagination-bullet-active .path{
    display: inline-block !important;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash linear 54s;
    animation-iteration-count: unset;
  }
  .swiper-pagination-bullet-active .path2 {
    display: inline-block;
  }
  .path,
  .path2 {
    display: none;
  }


}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.main-section__info {
  
  display: inline-block;
  margin: 0;
  color: #888888;
  font-family: $mb;
 
  position: relative;
  @media (min-width: $screen-xs) {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  @media (min-width: $screen-md) {
    width: auto;
    text-align: left;
    font-size: 24px;
  }
  &::before {
    content: '';
    background-image: url('../img/cup.png');
    width: 20px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 15px;
    position: relative;
    display: inline-block;
  }
}